@model IEnumerable<Entidades.Administracion.Vacaciones>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Listado de Vacaciones</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p>
                    @{
                        if (ViewBag.RolID == "2")
                        {
                            <a href="@Url.Action("Create", "Vacaciones")" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Nuevas Vacaciones</a>
                        }
                    }
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreUsuario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaInicio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaFin)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Motivo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                                </td>
                                <td>
                                    @DateTime.Parse(item.FechaInicio.ToString()).ToShortDateString()
                                </td>
                                <td>
                                    @DateTime.Parse(item.FechaFin.ToString()).ToShortDateString()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Motivo)
                                </td>
                                <td>
                                    @{
                                        if (item.Estado == 'P')
                                        {
                                            @Html.Raw("Pendiente")
                                        }
                                        else if(item.Estado == 'A')
                                        {
                                            @Html.Raw("Aprobado")
                                        }
                                        else
                                        {
                                            @Html.Raw("Rechazada")
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (ViewBag.RolID == "3" && item.Estado == 'P')
                                        {
                                            <a href="@Url.Action("Aprobar","Vacaciones", new { id = item.VacacionesID})" class="btn btn-success">Aprobar</a>
                                            <a href="@Url.Action("Rechazar","Vacaciones", new { id = item.VacacionesID})" class="btn btn-danger">Rechazar</a>
                                        }
                                        if (ViewBag.RolID == "3")
                                        {
                                            <a href="@Url.Action("Descargar","Vacaciones", new { id = item.VacacionesID })" class="btn btn-primary">Descargar</a>
                                        }
                                    }
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>