@model Entidades.Administracion.Biometrico

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nuevo Biométrico</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("Create", "Biometrico", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @maxlength = "10", @onKeyPress = "return soloNumeros(event)" } })
                                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @onKeyPress = "return soloLetras(event)" } })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="Modelo" name="Modelo" class="form-control col-md-7 col-xs-12">
                                    <option value="O">Seleccione el Modelo del Biométrico</option>
                                    <option value="Zkteco Iface 302">Zkteco Iface 302</option>
                                    <option value="Zkteco Iface 402">Zkteco Iface 402</option>
                                    <option value="Zkteco Iface 800">Zkteco Iface 800</option>
                                    <option value="Zkteco VF780">Zkteco VF780</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FacultadID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("FacultadID", new SelectList(ViewBag.Facultades, "FacultadID", "Descripcion"), "Seleccione Facultad", htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.FacultadID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-floppy-disk"></span> Grabar
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Listado de Biométricos", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
